.clock-container {
    padding: 1rem;
    border: solid 2px #635679;
    border-radius: 25px;
    min-width: 250px;
    background-color: #ffffff08;
    box-shadow: rgba(99, 99, 99, 0.4) 0px 6px 12px 0px;
}

#timer-label {
    font-size: 2rem;
    font-weight: bold;
}

#time-left {
    font-size: 2.5rem;
    font-weight: 900;
    font-family: 'VT323', monospace;
    background-color: #50377c;
    border-radius: 20px;
    margin: 1rem;
    box-shadow: rgba(99, 99, 99, 0.4) 0px 4px 8px 0px;
}

#start_stop {
    margin-right: 25px;
}

@media (prefers-color-scheme: light) {
    .clock-container {
        background-color: #eaf4f4;
    }

    #time-left {
        background-color: #f6fff8;
    }
}